<p>Having lived in both the U.S. and Spain for quite some time I receive the
very popular question that anyone who has lived in another country knows
and dreads: "Do you like it better here or there?". Given, you might get
this question even if you have just visited another country or (if you live
in the U.S.) simply having lived in another state. It really is an annoying
question, so please stop asking it. Unless we went to a literal dump we
are going to like different parts of each.</p>

<p>That aside, there is something I would like to say about when people ask
this to me in Spain specifically. I have received that question in both the
U.S. and in Spain, but it feels a little different when they ask in Spain.
This is mostly because of the Spanish inferiority-complex. Most Spanish
people feel (even if they do not tell you directly) that Spain is behind
the rest of the world in just about every way possible, when that simply
isn't true, every country has its pros and cons. So when they ask me "Do
you like it better here or there?" I can always hear a tone of
self-disappointment, which pisses me off. They don't know what I'm going to
say! I might say that both the U.S. and Spain suck balls! But no, they
assume that I'm going to say that the U.S. and just about every other
country is better than them in just about everything except flamenco...
Which doesn't make sense because some of the best flamenco dancers,
singers, and guitarists are actually <b>Japanese</b>. Damn, if you're going to
find something that your country is good at, at least make sure it's
correct! Hey, Spain is 3rd in tourism world-wide! So every time a Spaniard
asks me this question it makes me feel bad. Mostly since one of the only
good things I can say about Minnesota (the state I lived in while I was in
the U.S.) is that its nice and quiet even in the city (most likely because
everyone has frozen to death or defected to Canada at the thought of a
Trump presidency, that or their all drooling about a 'First Woman
President'). How am I supposed to meet your expectation that Spain is so
terrible when I don't have many bad things to say? Sure, things could be
better (a <b>lot</b> better), but I hate this self-hatred bullshit.</p>

<p>Basically, stop asking these questions, and don't think your country is
better or worse than others at almost everything just because your economy
is shitty or doing well because you import Asians to do all the mentally
challenging work (U.S. *nudge, nudge*).</p>

