<p>I would first like to point out a couple things before starting my rant,
first of which is that I am talking about the web, <b>not</b> the internet. To
simplify this distinction for the non-techies who might be reading this,
the web is what you see in your browser (like this web page, unless you're
RMS and you read this by downloading the HTML), while the internet is
any sort of connection between two or more machines (including the web).
Second is that there are parts I like about the web or more so being a user
of the web, but what I'm focusing on here is mostly having to do with why I
hate web development, not so much the web in and of itself.</p>

<p>So, to get straight to the point, I hate aesthetics, I much prefer to focus
on functionality and the "Does this work?" of things rather than the
"Does this look pretty?". That's not my job, in fact, I'd argue that it's
no one's job, developers make something functional and marketing sells the
half-assed hurried piece of shit as if it were the most important invention
since the print-press. But for some reason in web development people seem
to care a lot less about functionality and a lot more about aesthetics, and
I believe that this has to do with the fact that the web is <b>purely
graphical</b>. Being purely graphical it gets attention from a lot of people,
including those who pay more attention to how their tool looks than "Is
this working correctly?". Not only that, but it's impossible for you to
create a CLI (command-line interface), that wonderful world where people
can stop paying attention to X and Y locations of buttons and more on if
the damn thing works correctly.</p>

<p>At least in fields such as C++ or even Java the focus is still a little
more focused around functionality, but this is because both can be used to
create plain CLI applications and are often used for that purpose. Heck,
a lot of people even create engines, and there's no aesthetics there.
Meanwhile, in languages such as JavaScript you can't do that, sure you can
create an engine, but you can't create any CLI applications, can you.
JavaScript was made to simply modify HTML from the client instead of the
server doing it and sending it to the client, and all HTML does is markup a
graphical environment in your browser.</p>

<p>However, another cause I can see for this is which is more probable is that
the web has become popular. A lot of important and valuable inventions in
history that ended up gaining popular use lost any value they had as they
started to be used by idiots with no respect for the pain that went into
the damn thing and complain when they see something that looks weird or
they run into a small little bug that they could just avoid (yet, they
never want to contribute and fix the thing), and they end up using it to do
the same stupid things they did before but now with the new technology. You
need not look any further than the TV that you most likely own. That bit of
technology was created to educate people, to send information via video to
thousands of people, and how are we using it? To watch the Kardashians...
If I were the creator of the TV I would want to commit suicide for creating
such a device that allows for such content that it lowers the IQ of the
viewer a few points every time they see it. So what happened with the web?
Well, it became popular, and the same idiots that made the TV what it is
today decided to start invading the new frontier that was made for creators
and intellectuals and turn it into a place where the only thing that
matters is 'Muh convenience!' and 'Muh entertainment!'.</p>

<p>Now, putting that aside, I still use the web (obviously, I have a website)
and there are still positives to the web if you know where to go to avoid
'normies' who make into the hell-hole that it is currently. Want to know
where those places are? Get off your Facebook and Twitter and start going
to the less popular sites where your friends most likely don't hang out.</p>

