<p>I am very much a GPL advocate, and the more I get into programming the more
I favour the GPL licenses. I have many reasons for this, some of them
applying to myself personally, but others that are applicable at a larger
scale as to how it benefits software creation in general. However, I
will start out with how I came to use Free Software and why I ended up
with the mentality towards software licenses I have today.</p>

<p>For 15 years all I really used were Mac computers, which are Unix based
systems but still proprietary. It's not practical to imagine I would know
or care about something like licensing or ethics during this time, I don't
believe I arrived at the age of reason until I was around 15, and although
some of my personality and beliefs have changed since then, my thoughts
have not strayed much from what they were at that age. When I was 15 I got
my first personal laptop that I could use for my own purposes. It was an
old laptop that my dad used to use for work, but for work he always used
GNU/Linux, and the laptop did not have Windows, and even if it did it was
an old 32-bit computer with 1GB of RAM (I ended up adding another GigaByte
to that). Even if I wanted to use Windows on there I couldn't because it
wouldn't run as quickly as GNU/Linux. So this was the first time I ran
GNU/Linux as a main OS. At this point I didn't care too much about Free
Software, but I was well on my way to being a Free Software advocate, as my
political ideology had moved very much left-ward where Free Software can
almost be considered the licenses of the left-wing.</p>

<p>After a few years of running GNU/Linux I started to get rid of all the
Apple products I had (because Apple makes it hard as hell to use their shit
with anything else that isn't their shit, mostly being the damn iPod I had
which didn't like syncing with my GNU/Linux machine until I found a
half-assed hack that got me to fix that shit). At one point I came to the
conclusion that the reason why Apple products (along with others) did not
play well with others is because they are non-free and do not allow people
to create programs that work with their shit (because that means you're
using someone else's stuff instead of their shit). After this pissed me off
I personally decided to stop using non-free software as much as I could to
the point where now the only non-free software on my computer are some
wireless drivers that I need for my laptop.</p>

<p>While I used GNU/Linux I also started to get into programming, which is
where I was exposed to software licenses. Since I was on an old shitty
computer I couldn't really do much gaming, but I could do a lot of
programming, so I ended up programming small games that I could play.
But when the time came to choose a license I decided on the GPL, reason
being (at the time) that I want people to be able to learn from my code,
but I don't want people to take advantage of me by grabbing whatever code I
create and making it proprietary and then improving upon it, as that would
essentially be stealing my foundations and building on top of it without
giving back. So I sided with the GPL licenses.</p>

<p>However, those are only personal reasons that I had at the time, there are
more reasons that do not affect me personally but are important at a larger
scale. This being that GPL promotes people to contribute and promotes
collective improvement to a project instead of everyone making their own
version of the wheel. If I create code that is useful and then share it
someone else can use that code to make something that's even better and
then someone else upon that continuously improving the software. Meanwhile,
with other licenses such as MIT or BSD people can simply take your code and
make whatever improvements they make proprietary forcing everyone else to
have to reinvent that wheel. Of course, attribution license defendants will
say that many times these entities do return code to its original source,
and although that is true, I would rather not rely on the good will of a
few nice people, but rather force everyone to share what they have in order
to assure that progress can be fluid and continuous.</p>

<p>I believe that the GPL licenses create a more educational environment and
that they allow for more progress following the scientific philosophy of
building upon the shoulders of giants. With that mentality I believe we can
get much further than what could be created with each of us going our own
separate ways without having any knowledge of what the other has done.</p>

