<p>It's slow, it's inefficient, it's buggy, it has memory leaks, it no longer supports GNU/Linux, and it's proprietary as fuck. Ladies and gentlemen, it's Adobe Flash.</p>

<p>One of the few great decisions Apple has ever made was when the decided to get rid of Adobe Flash on the iPad, and thanks to that and a number of other factors (such as the heavenly arrival of HTML5, CSS3, and modern JavaScript frameworks) Adobe Flash has been losing influence on the web to the point that it's getting harder and harder to see it anywhere, especially since you can now program anything in JavaScript and it will be faster, more efficient, and integrated with the browser (unlike Adobe Flash which requires a plugin). This is true to the extent that not so long ago I uninstalled the Flash plugin from my computer and mostly everything works just as it did before.</p>

<p>However, it seems that there are still some places where Adobe Flash is still present, and those niches need to die, <b>now</b>. Nowadays we are in the era where such terrible technologies are no longer needed and we can more than get by on JavaScript (even though I don't particularly like how the language is structured as compared to my wonderful C++ and Java). So why are we still settling for Adobe Flash? Is Adobe bribing people to continue to use their products in fear that they'll start losing market? They already have Photoshop, they should be content with that.</p>

<p>What's even worse are these websites where <b>the entire website is in an Adobe Flash app</b>. That's right, not just a section of a page, not just a webpage, but the entire fucking site. These sites need to be burned, meaning the machines hosting those VPSs need to be confiscated, disassembled, crushed, and melted. Who has <b>so</b> much time on their hands that they are going to go through the hassle of writing an <b>entire website</b> in Adobe Flash? Seriously, who thinks of this as a good idea?</p>

<p>In any case, stop making Flash shit, it's a waste of time and it's only going to become obsolete (which I guess is strange coming from someone who has an all text website that is built with PHP, but at least my website with render without a fucking plugin).</p>

