<p>Too often have I heard people say that someone is "Judgemental", someone saying "Don't judge!", asking a friend "Would you judge me?". These are all extremely stupid phrases. Judgement is something extremely normal, it's not only human, but something that all animals do, and most importantly it is something that is completely necessary.</p>

<p>Judgement is something we need, something we do every day. When you say you like a particular dish or not you are judging the dish, when you choose between two alternate products at a supermarket you are judging them. Even if you use a random number generator to decide which to pick you made the judgement to use the random number generator and what numbers each of the products would be. However, one may believe that this does not apply when talking about people, that we cannot judge other people, however this is also wrong. Should we not judge murderers? Should we not judge thieves? We must no doubt judge these people, and we should also be able to judge one another.</p>

<p>What's more, judgement (and even prejudice, in certain circumstances) is necessary for our own survival. If I cannot judge someone's intentions how am I supposed to know if they mean me harm? If I cannot judge a friend's decisions how can I warn them if what they want to do is going to lead them down a dangerous road? If I cannot judge the ideas of my politicians how can I trust them to run a country? (Or must I trust them blindly?) If I cannot judge then my ability to survive (to judge the best decision to take in any given circumstance) is crippled.</p>

<p>I believe that this fad of 'non-judgement' comes from an insecurity that we feel, where we dislike being wrong, we dislike being told something opposed to our own opinions, beliefs, and ideals. It is normal to wish to reject that, but it is also childish and immature to let that take over your rational side. In all reality you are wrong about a great deal of things and so am I, what's more, no one knows the absolute truth about anything. However, luckily, we have wonderful tools called science and reason that let us get closer and closer to the truth, the only requisite is that we must be willing to accept that we may be wrong and must judge our opinions to find the most reasonable and most empirically backed hypothesis that will then turn into the theory accepted as a temporary truth until proven otherwise. This 'anti-judgement' trend is something that stops us, individually even, from improving. How am I supposed to improve myself if a third-party cannot tell me that I am doing something wrong? That something I am doing doesn't make sense? By not allowing others to 'judge' you (which in reality is simply not allowing them to express their judgement, they have already judged you) you are prohibiting your own self-improvement.</p>

<p>Therefore, please don't talk about judgement this way, it's annoying as fuck and you're making yourself look like a stuck-up prick who can't accept rational criticism. Instead listen to the other person's judgement, and if you don't care for their judgement then just ignore it, at least you listened.</p>

