<img
		src="/imgs/profile.png"
		alt="Profile picture."
		title="Profile picture."
		id="profile" />

<p>
The Music in Noise is my personal website. From here you can access pretty much
all my works. The name of the website comes from my (musical) artistic alias -
which honestly I don't really use anymore. I'm a Spanish-American, living in
Seville, Spain. I'm fluent in English and Spanish, with some proficiency in
Portuguese and Esperanto.
</p>

<p>
I'm a Roman Catholic, and I take much interest in my faith. Many of my blog
posts tend to be related to Catholicism; whether it be general theology,
apologetics, or simply my personal opinion on certain matters.
</p>

<p>
I also publish some techy content, as one of my hobbies is computers - low-level
computing in particular. I also work as a Junior C++ Developer at Zevenet. My
favorite computer programming languages are C and C++, although I've recently
does some dabbling in Rust.
</p>

<p>
There's also some music available here... but I haven't really done any new
songs since 2016. It's something I've (regrettably) not been able to spend a lot
of time on.
</p>

<p>
There are other things available on this site, but it's basically just
miscellaneous stuff. If you find something you like, good for you. If you don't,
then I'm glad you stopped by.
</p>

<p>
Happy hacking, and God bless you!
</p>
